<html>
    <head>
    </head>
    <body>
        <h1> welcome to my rankings tables </h1>
        <h2> <a href="{{ url_for('home') }}">home</a>
            <a href="{{ url_for('players') }}">players</a> 
            <a href="{{ url_for('tournements') }}">tournements</a>
         </h2>
         <form action="" method= 'POST'>
            <input name="ranking_id">
            <input name="player_id">
            <input name="tournement_id">
            <input name= "prize_won">
            <input type="submit"value="Submit">
         </form>

            <h3></h3>
    </body>
</html>

