<html>
    <head>
    </head>
    <body>
        <h1> current ongoing tournements </h1>
        <h2> <a href="{{ url_for('home') }}">home</a>
            <a href="{{ url_for('players') }}">players</a> 
            <a href="{{ url_for('rankings') }}">rankings</a>

         <form action="" method= 'POST'>
         <input name="tournement_id_id">
         <input name="location">
         <input name="time_starting">
         <input name= "player_id">
         <input type="submit"value="Submit">
        </form>

        
        </h2>
        
    </body>
</html>

