<html>
    <head>
        <title>add tournement layer form</title>
    </head>
    <body>
        <h1> <a href="{{ url_for('home') }}"> home</a>
            <a href="{{ url_for('players') }}">player</a> 
            <a href="{{ url_for('tournements') }}">tournement</a>
            <a href="{{ url_for('allplayers') }}"> all players</a>
            <a href="{{ url_for('addtournementplayers') }}"> add tournement players</a>
 </h1>
        <h2> Players</h2>
        <p> all current players in tournement</p>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                <br>
                {{ form.player_id.label }} {{ form.player_id }}
                <br>
                {{ form.tournement_id.label }} {{ form.tournement_id }}
                <br>
                {{ form.submit }}
                <p> {{ message }}</p>
            </form>
        </div>
    </body>
</html>