<html>
    <head>
        <title>add tourneemnt layer form</title>
    </head>
    <body>
        <h1> Players</h1>
        <p> all current players in tournement</p>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                <br>
                {{ form.player_id.label }} {{ form.player_id }}
                <br>
                {{ form.tournement_id.label }} {{ form.tournement_id }}
                <br>
                {{ form.submit }}
                <p> {{ message }}</p>
            </form>
        </div>
    </body>
</html>