{% extends 'base.html' %}

{% block head %} 

<h1> welcome to my home page</h1>    
<h2><a href="{{ url_for('home') }}"> home</a>
    <a href="{{ url_for('player') }}">player</a> 
    <a href="{{ url_for('alltournements') }}">tournement times</a>
    <a href="{{ url_for('ranking') }}">ranking</a>
    <a href="{{ url_for('allplayers') }}">allplayers</a>
    <a href="{{ url_for('register') }}"> register</a>
    <a href="{{ url_for('tournement_enter') }}"> enter tournement </a>

    
</h2>

{% endblock %}

{% block body %} {% endblock %}
