<html>
    <head>
        <title> home page  </title>
    </head>
    <body>
        <h1> welcome to my home page </h1>
        <h2>
            <a href="{{ url_for('home') }}"> home</a>
            <a href="{{ url_for('players') }}">player</a> 
            <a href="{{ url_for('tournements') }}">tournement</a>
            <a href="{{ url_for('ranking') }}">ranking</a>
            <a href="{{ url_for('players') }}"> players</a>
            <a href="{{ url_for('allplayers') }}"> all players</a>
            <a href="{{ url_for('addtournementplayers') }}"> addtournementplayers</a>

        </h2>
    </body>
</html>