<html>
    <head>
        <title>Player form</title>
    </head>
    <body>
        <h1> <a href="{{ url_for('home') }}"> home</a>
            <a href="{{ url_for('players') }}">player</a> 
            <a href="{{ url_for('tournements') }}">tournement</a>
            <a href="{{ url_for('allplayers') }}"> all players</a>
            <a href="{{ url_for('addtournementplayers') }}"> add tournement players</a>
</h1>
        <h2> Players</h2>
        <p> all current players</p>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                <br>
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
                {{ form.age.label }} {{ form.age }}
                <br>
                {{ form.city.label }} {{ form.city }}
                <br>
                {{ form.submit }}
                <p> {{ message }}</p>
            </form>
        </div>
    </body>
</html>