<html>
    <head>
        <title>Ranking tables</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                <br>
                {{ form.ranking_id.label }} {{ form.ranking_id }}
                <br>
                {{ form.position.label }} {{ form.position }}
                <br>
                {{ form.player_id.label }} {{ form.player_id }}
                <br>
                {{ form.tournement_id.label }} {{ form.tournement_id }}
                <br>
                {{ form.submit }}
                <p> {{ message }}</p>
            </form>
        </div>
    </body>
</html>